{% extends "base.html.j2" %}
{% block title %} Fragments not found{% endblock %}

{% block navtext %}Go <a href="/">home</a>, you're drunk...{% endblock %}
{% block content %}
	<h2>404: Not found</h2>
{% endblock content %}

{% block pane %}
{% endblock %}
