{% extends "base.html.j2" %}
{% block title %}About{% endblock title %}

{% block content %}

  <h3>About Me</h3>

  <p>
    I live in London, mostly write Python, and typically depoly on Gentoo. I studied Physics at Warwick. I worked for Cisco and now work for Lyst.
  </p>

  <ul class="list-unstyled">
    <li>
  <span><a href="https://twitter.com/bencord0">Twitter:&nbsp;@bencord0</a></span>
    </li>
    <li>
  <a href="https://github.com/bencord0">GitHub:&nbsp;bencord0</a>
    </li>
  </ul>

{% endblock content %}
