{% extends "base.html.j2" %}
{% block title %}{{ entry.title }}{% endblock title %}

{% block content %}
    <h2><a href="/{{ entry.slug }}/">{{ entry.title }}</a></h2>
    <h6>posted {{ entry.fuzzy_date }} by <a href="/about/">Ben Cordero</a></h6>
    {{ entry.html|safe }}
{% endblock content %}
