    {% for entry in recent_entries %}
        <h2><a href="/{{ entry.slug }}/">{{ entry.title }}</a></h2>
        <h6>posted {{ entry.date }} by  <a href="/about/">Ben Cordero</a>.</h6>
        content goes here
        <div>
            <p><a href="/{{ entry.slug }}/">Read more</a></p>
        </div>
    {% endfor %}
